[submodule "imgui"]
	path = imgui
	url = https://github.com/Wxz234/ndq-imgui
[submodule "DirectXShaderCompiler"]
	path = DirectXShaderCompiler
	url = https://github.com/Wxz234/ndq-DirectXShaderCompiler
